/* Stil for billeder (inkl. avatars) */
.avatar {
  width: 175px;   /* 20% større end før */
  height: 175px;
  border-radius: 50%; /* Gør billedet rundt */
}

/* Resten af din eksisterende CSS */
body {
  background: linear-gradient(135deg, #141e30, #243b55); /* To farver i baggrunden */
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 64px;
}

@media (min-width: 550px) {
  h1 {
    font-size: 48px;
    line-height: 96px;
  }
}

/* Knappestil for sociale medier */
.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  border-radius: 8px;
  cursor: pointer;
}

.button.button-discord {
  background-color: #5865F2;
  color: #FFFFFF;
}
.button.button-Tiktok {
  background-color: #69C9D0;
  color: #FFFFFF;
}
.button.button-instagram {
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
  color: #FFFFFF;
}
.button.button-twitch {
  background-color: #9146ff;
  color: #FFFFFF;
}

/* Resten af dine knapstyles */
