html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.column {
    position: center;
    width: 100%;
    float: center;
    box-sizing: border-box;
}
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 0;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

}
html {
    font-size: 100%;
}
body {
    background-color: #292929;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

h1 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
}
h1 {
    font-size: 24px;
    line-height: 64px;
    letter-spacing: 0;
}
@media (min-width: 550px) {
    h1 {
        font-size: 48px;
        line-height: 96px;
    }
}

p {
    margin-top: 0;
}

a {
    color: #0085FF;
}
a:hover {
    color: #0085FF;
}

code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    color: #000000;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

.button,
button {
    margin-bottom: 1rem;
}
fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
ol,
p,
pre {
    margin-bottom: 2.5rem;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.button,
button {
    display: inline-block;
    text-decoration: none;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 300px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
}
.button:focus,
button:hover {
    color: #333;
    border-color: #888;
    outline: 0;
}
.button.button-primary {
    color: #FFF;
    filter: brightness(90%);
}
.button.button-primary:focus,
.button.button-primary:hover {
    color: #FFF;
    filter: brightness(90%);
}

.icon {
    padding: 0 8px 3.5px 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.button.button-discord {
    color: #FFFFFF;
    background-color: #5865F2;
}
.button.button-discord:focus,
.button.button-discord:hover {
    filter: brightness(90%)
}

.button.button-facebook {
    color: #FFFFFF;
    background-color: #1877f2;
}
.button.button-facebook:focus,
.button.button-facebook:hover {
    filter: brightness(90%)
}

.button.button-instagram {
    color: #FFFFFF;
    background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}
.button.button-instagram:focus,
.button.button-instagram:hover {
    filter: brightness(90%)
}

.button.button-snapchat {
    color: #000000;
    background-color: #fffc00;
}
.button.button-snapchat:focus,
.button.button-snapchat:hover {
    filter: brightness(90%)
}

.button.button-twitch {
    color: #FFFFFF;
    background-color: #9146ff;
}
.button.button-twitch:focus,
.button.button-twitch:hover {
    filter: brightness(90%)
}